body {
  background-color: #EAEAEA !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(135deg, rgba(52, 28, 96, 1) 0%, rgba(125, 66, 234, 1) 50%, rgba(168, 234, 236, 1) 100%) !important;
}

.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(135deg,
      rgba(52, 28, 96, 1) 0%,
      rgba(125, 66, 234, 1) 50%,
      rgba(168, 234, 236, 1) 100%) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.overrideStyle>input {
  border: none !important;
  background-color: #f7f7f7 !important;
  outline: none !important;
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.overrideStyle>input:hover {
  border: none !important;
  outline: none !important;
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: #e0e0e0 !important;
}

.deletable-column:hover {
  opacity: 1 !important;
}

.conditionHeader {
  background-color: #7091F5 !important;
  color: white !important;
}

.actionHeader {
  background-color: #793FDF !important;
  color: white !important;
}

/*end home page styles*/